*{
    border: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

#map{
    margin: 20px 0px 20px 3vw;
    height: 75vh;
    width: 60%;
    float: left;
    box-shadow: 1px 1px 10px black;
}

#formContainer{
    margin: 20px 3vw 20px 0px;
    float: right;
    width: 30%;
}

#topSpacer{
    height: 80px;
}

#playStore{
    width: 20vw;
    display: block;
    margin: 60px auto;
}

/************NAVBAR***********/

#nav{
    width: 100%;
    position: fixed;
    background-color:#F6F6F6; /*#2A3175;*/
    padding: 20px 0px 20px 0px;
    color: #5B5B5B;
    text-transform: uppercase;
    z-index: 20;
    box-shadow: 0px 2px 10px black;
}

#clear{
    clear: both;
}

#nav #left{
    float: left;
}

#nav #right{
    float: right;
    margin-right: 40px;
}

#nav ul{
    list-style: none;
    display: flex;
}

#nav ul li{
    font-size 20px;
    padding: 10px;
}

#nav ul li a{
    color: #5B5B5B;
    text-decoration: none;
    transition: 0.1s;
}

#nav ul li a:hover{
    color: #B9B9B9;
    transition: 0.3s;
}

#nav h1{
    margin-left: 20px;
}

#nav #title{
    color: #5B5B5B;
}

/************CREATE HUNT***********/

#dynamicForm{
    max-width: 100%;
    margin-top: 20px;
}

#dynamicForm input{
    display: inline-block;
    width: 64%;
    margin: 5px 0px 5px 0px;
    padding: 5px;
    height: 30px;
    font-size: 20px;
    float: right;
}

#dynamicForm label{
    display: inline-block;
    width: 30%;
    height: 30px;
    font-size: 20px;
    float: left;
    margin: 5px 0px 5px 0px;
    padding: 5px;
}

#dynamicForm #button{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px;
    background-color: #8c0007;
    color: white;
    font-size: 20px;
}

#dynamicForm #button:hover{
    cursor: pointer;
    background-color: #A52229;
    transition: 0.3s;
}

#dynamicForm .formDivider{
    width: 100%;
    border-bottom: 3px solid grey;
    margin: 30px 0px 30px 0px;
    padding: 10px 0px 10px 0px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
}

/***********ABOUTUS*********/

#nohorizscroll{
	max-width: 100%;
	overflow-x: hidden;
}

#intro{
	padding: 20px 0px 20px 0px;
	width: 100%;
	text-align: center;
}

#text{
	padding: 20px 0px 20px 0px;
	width: 100%;
	text-align: center;
}

/******ABOUTUS SLIDESHOW*******/

.slidesContent{max-width:250px;margin:auto}
.container{position:relative}
.container:hover{display:block}
.leftButton{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%);color:#fff!important;background-color:#000!important}
.rightButton{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%);color:#fff!important;background-color:#000!important}
.slidesDescription{position:absolute;left:0;top:0;font-size:18px!important;padding:0.01em 16px;content:"";display:table;clear:both;padding-top:16px!important;padding-bottom:16px!important;color:#fff!important;background-color:#000!important}

/************HUNTADDED******/

#huntadded .text{
	text-align: center;
	padding: 20px 3vw 20px 3vw;
}

#huntadded .img{
	display: block;
    width: 160px;
    height: 160px;
    margin: auto;
}

#huntadded a{
	color: blue;
}

/************TEXT***********/

#instr{
    padding: 20px 3vw 20px 3vw;
}

.bannerText{
    position: absolute;
    width: 100%;
    margin: 50vh auto 0 auto;
    text-align: center;
    vertical-align: middle;
    color: white;
    z-index: 5;
}

#homePage .bannerText{
    opacity: 0;
}

.bannerText h1{
    font-size: 120px;
}

.bannerText p{
    font-size: 30px;
    font-style: italic;
    font-weight: 100;
}

.fwText{
    width: 70%;
    margin: auto;
}

#homePage .fwText{
    margin-top: 180px;
    opacity: 0;
}

.fwText p{
    color: #5B5B5B;
    margin: auto;
    line-height: 27px;
}

.fwText #textRight{
    float: right;
    width: 45vw;
}

.fwText #textLeft{
    float: left;
    width: 45vw;
}

.fwText h1{
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 30px;
}

.fullBannerImage #small{
    margin: 0 auto;
    line-height: 12vh;
}

.fullBannerImage #small h1{
    font-size: 70px;
    text-transform: uppercase;
}

/************HOMEPAGE***********/

.fullBannerImage{
    height: 90vh;
    background-image: url(../Images/banner.jpg);
    background-size: cover;
    z-index: -10;
}

#imageLeft{
    float:left;
    width: 20vw;
}

#imageRight{
    float: right;
    width: 20vw;
}

#overlay{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

.fwSection{
    width: 100%;
    margin: 20px 0px 20px 0px;
    padding: 100px 0px 100px 0px;
}

#dark{
    background-color: #F3F3F3;
}

.bannerButton{
    margin: 30px 0px 30px 32vw;
    background-color: #830909;
    color: white;
    border-radius: 2px;
    border: 3px solid #830909;
    font-size: 20px;
    padding: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.2s;
    width: 12vw;
    float: left;
}

/*
.bannerButton a{
    text-decoration: none;
}
*/

.bannerButton:hover{
    cursor: pointer;
    background-color: #A82323;
    border-color: #A82323;
    transition: 0.3s;
}

.bannerText #right{
    margin-left: 0px;
    margin-right: 32vw;
    border-color: white;
    background-color: transparent;
    float: right;
}

.bannerText #right:hover{
    border-color: white;
    background-color: white;
    color: #5B5B5B;
    transition: 0.3s;
}

#small{
    height: 12vh;
    color: white;
}


/************FEATURE TABLE***********/
#featureTable{
    width: 100%;
    text-align: center;
    margin: auto;
}

#featureTable td img{
    display: block;
    width: 160px;
    height: 160px;
    margin: auto;
}

#featureTable h1{
    color: #5B5B5B;
    font-size: 30px;
    margin-bottom: 10px;
}

#featureTable td p{
    width: 90%;
}

/************SCROLL BAR***********/
#homePage::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#homePage::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#homePage::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #A82323;
}

/************FOOTER***********/
#footer{
	margin-top: -20px;
	text-align:center;
	width:100%;
    background-color:#2C2C2C;
    color: white;
    padding: 20px 0px 20px 0px;
}

#footer p{
    margin: auto;
    font-size: 20px;
}

/************CHECK HUNT***********/
#checkHuntForm{
    width: 100%;
    text-align: center;
    margin: 40px 0px 40px 0px;
}

#checkHuntForm input{
    font-size: 40px;
    padding: 12px;
    border: 3px solid transparent;
}

#checkHuntForm #button{
    padding: 12px;
    border-radius: 2px;
    background-color: transparent;
    border: 3px solid grey;
    transition: 0.3s;
    color: #5B5B5B;
}

#checkHuntForm #button:hover{
    border: 3px solid grey;
    transition: 0.3s;
    border: 3px solid #A82323;
    background-color: #A82323;
    color: white;
}

#resultsList{
    font-size: 50px;
    text-align: center;
}

#resultsList li{
    border-bottom: 2px solid grey;
    padding-bottom: 30px;
    padding-top: 30px;
}

#resultsBox{
    width: 40%;
    margin: auto;
}

p#message{
    font-size: 30px;
    text-emphasis: italic;
}
